
.backgroud{
    position:fixed;
    top: 0;
    right: 0;
    background: url('bg1.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1; /*para tener opacidad sin que se sobreponga*/
    opacity: .332;
}
#nav{
    margin-left: 50px;
}

h1{
    color: #566473;
    text-align: center;
}
.progress{
background-color: #77808a;
}
.row{
    text-align: center;  
}

/* efecto de botones */
.button{position:static; padding:1em 1.5em;border:none;background-color:transparent;cursor:pointer;outline:0;font-size:18px;margin:1em .8em}
.button.type1.type1::after,.button.type1.type1::before{content:"";display:block;position:relative;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:1px}
.button.type1.type1:hover:after,.button.type1.type1:hover:before{width:100%;height:100%}

.social{
    background-color: #c6ccd1;
    height: 100%;
    display: flex;
   align-items: center; 
   justify-content: center;
}
.social ul li{
display: inline-block;
margin: 0 5px;
width: 50px;
height: 50px;
text-align: center;
}
.social ul li a{
    display: block;
    padding: 0 10px;
    background: #566473;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgb(92, 108, 141);
    transition: .2s;
}
.social ul:hover a{
    filter: blur(2px);
}
.social ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgb(55, 65, 85);
    filter: none;
}
:root{
    --facebook:#3b5999;
    --instagram:#e4a540;
    --twitter:#55acee;
    --pinterest: #bd081c;
    --linkedin:#0077b5;
    --whatsapp:rgb(118, 232, 36);
}
.social ul li .facebook:hover{
    background:  var(--facebook);
}
.social ul li .instagram:hover{
    background:  var(--instagram);
}
.social ul li .twitter:hover{
    background:  var(--twitter);
}
.social ul li .pinterest:hover{
    background:  var(--pinterest);
}
.social ul li .linkedin:hover{
    background:  var(--linkedin);
}
.social ul li .whatsapp:hover{
    background:  var(--whatsapp);
}