body{
	background: url(./imagenes/1.jpg);
	background-size:100%;
}


form{
    width:450px;
    margin:AUTO;
    background:rgba(0, 0, 0, 0);
    padding: 10px 20px;
    box-sizing: border-box;  
    margin-top: 200px;
  
  }
  
  input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
  
  }
  
  textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
  }
  
  #boton{
    background: #55a630;
    color:#fff;
    padding:20px;
  
  }
  
  #boton:hover{
    cursor: pointer;
  }
  
  @media(max-width:480px){
    form{
      width:100;
    }
  }